body {
    background-color: #f5f7f8 !important;
}
.input-form {
    background: #fff !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    padding: 4px;
}

.input-form .input-article {
    width: 100%;
    border: 2px #eee solid;
    border-radius: 0;
    padding: 5px;
    display: block;
}

.article {
    background: #fff !important;
    display: block;
    margin-top: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.article-header {
    padding: 2px;
    position: relative;
    margin:4px;
    display: block;
}

.article-header .article-avatar {
    position: relative;
    float: left !important;
    top:0;
    left:0;
}

.article-header .article-author {
    position: relative;
    left: 100;
    top: -50;
}

.article-header .article-avatar img {
    margin: 4px;
    width: 60px;
}

.article-header .article-time {
    margin: 4px;
    position: relative;
    top: 0;
    right: 0;
    opacity: .3;
    font-size: small;
    float: right !important;
    padding: 2px;
}

.article-header-body-separator {
    clear: both;
    margin: 0 auto;
    width: 96%;
}

.article-body {
    margin-top: 10px;
    position: relative;
    padding: 20px;
    display: block;
    clear: both;
}

.article-media {
    image-rendering: crisp-edges;
    display: block;
    /*max-height: 350px;*/
    /*overflow-y: hidden;*/
    height: 400px;
}

.article-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 20px;
    box-sizing: border-box;
}

.article-reaction {
    padding: 20px;
}

footer {
    background: #eee;
    color: black;
    border-top: 2px #ddd solid;
    margin: 100px auto 0 auto;
    box-sizing: border-box;
    padding: 60px;
}

/*responsive navbar*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

ul.topnav li a:hover {
    background-color: #555;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
    
}

@media screen and (max-width:680px) {
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}