{% extends 'base.html' %}
{% block content %}
  {{ parent() }}
  <form class="form-group" method="post" action="/create/new" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="article" placeholder="add article here..." required><br>
    <label for="image">Upload File(optional)</label>
    <input type="file" name="file" value="Upload">
    <input type="hidden" name="author" value="devTeam">
    <input type="submit" value="Share">
  </form>
{% endblock %}
