<!-- Modals -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Provide username and password</h4>
      </div>
        <div class="modal-body">
          <form class="form-group" method="post" action="/auth/login">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" placeholder="username..." required>
            <label for="username">Password</label>
            <input type="password" class="form-control" name="password" placeholder="password" required>
            <input type="submit" value="Login">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
        </div>
      </div>
    </div>
  </div>

  <div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a new article let people react</h4>
        </div>
          <div class="modal-body">
            <form class="form-group" method="post" action="/create/new" enctype="multipart/form-data">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="article" placeholder="add article here..." required><br>
              <label for="image">Upload File(optional)</label>
              <input type="file" class='form-control' name="file" value="Upload">
              <input type="hidden" name="author" value="devTeam">
              <input type="submit" value="Share">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
          </div>
        </div>
      </div>
    </div>

    <div id="signupModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Provide your details</h4>
          </div>
            <div class="modal-body">
              <form class="form-group" method="post" action="/auth/signup">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" placeholder="username..." required>
                <label for="username">email</label>
                <input type="email" class="form-control" name="email" placeholder="someone@example.com">
                <label for="username">Password</label>
                <input type="password" class="form-control" name="password" placeholder="password" required>
                <label for="username">Repeat Password</label>
                <input type="password" class="form-control" name="password2" placeholder="password" required>
                <input type="submit" value="Register">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Quit</button>
            </div>
          </div>
        </div>
      </div>


      {% for article in data %}
      <div id="articleModal{{loop.index}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="article-metadata">
                    <h5>
                      {{article.author}}  <small>
                                              <span class="timePosted{{loop.index}}">
                                                  {{article.timePosted}}
                                              </span>
                                            </small>
                        <!-- moment js support -->
                        <script type="text/javascript">
                          $(function(){
                            $('.timePosted{{loop.index}}').html(moment.unix({{ article.timePosted | date('U') }})
                             .local()
                             .fromNow());
                          });
                        </script>
                    </h5>
                </div>
              </div>

                <div class="modal-body">
                  <div class="article-body">
                    <blockquote class="text-info">
                      {{article.body}}
                    </blockquote>
                  </div>
                  {% if article.type is not null %}
                    {% if article.type == "image/jpeg" or "image/png" or "image/jpg" %}
                      <p class="article-image clearfix">
                          <a href="#" data-toggle="modal" data-target="#articleModal{{loop.index}}">
                            <img alt="image" src="{{ article.path }}"  class="pull-left">
                          </a>
                      </p>
                    {% endif %}
                    {% if article.type == "video/mp4" %}
                      <p class="article-image clearfix">
                            <video src="{{ article.path }}"  class="pull-left" controls="play">
                      </p>
                    {% endif %}
                    
                  {% endif %}
                  <a href="/update/{{article.id}}">update</a>
                  <a href="#" onclick="confirm('sure to continue?');">delete</a>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
