{% extends 'base.html' %}
{% block content %}
{{ parent() }}
  <form class="form-group" method="post" action="/auth/login">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" placeholder="username..." required>
    <label for="username">Password</label>
    <input type="password" class="form-control" name="password" placeholder="password" required>
    <input type="submit" value="Login">
  </form>
{% endblock %}
