{% extends 'base.html' %}
{% block content %}
{{ parent() }}
  <form class="form-group" method="post" action="/auth/signup">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" placeholder="username..." required>
    <label for="username">email</label>
    <input type="email" class="form-control" name="email" placeholder="someone@example.com" >
    <label for="username">Password</label>
    <input type="password" class="form-control" name="password" placeholder="password" required>
    <label for="username">Repeat Password</label>
    <input type="password" class="form-control" name="password2" placeholder="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}
